@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: white;
}

.Home {
  background-color: rgb(238, 242, 246);
  padding: 20px 20px 0px 20px;
  margin: 10px 20px 0px 20px;
  border-radius: 12px 12px 0px 0px;
}

.App {
  display: flex;
  justify-content: center;
  /*margin: 50px auto;*/
  height: 100%;
}

.map_container {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.custom-popup {   
  color: #fff;
  border-radius: 10px;  
     
  width: fit-content;
}

.leaflet-container {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 80%;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #eeeeee;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
}